
<div class="page-header">
<h1>Wikis by <%= @user.name %></h1>
</div>


<% @wikis.each do |wiki| %>
<div class="media">
   <div class="media-body">
      <h4 class="media-heading">
         <p><%= link_to wiki.title, wiki %>
            <% if wiki.public == false %><span class="label label-danger">Private Wiki</span><% end %>
         </p>
      </h4>



   </div>
</div>

<% end %>