
<h1><%= @user.name %></h1>
 
 <h2>Wikis by <%= @user.name %></h2>
 
 
<% @wikis.each do |wiki| %>
   <div class="media">
      <div class="media-body">
         <h4 class="media-heading">
            <p><%= link_to wiki.title, wiki %>
               <small>   Public = <%= wiki.public? %></small>
            </p>
         </h4>
         
         
   
      </div>
   </div>
   
<% end %>
