

   <%= content_tag :div, id: "collaboration-#{collaboration.id}" do %>
      <li>
        
         <%= collaboration.user.name %> ( <%= collaboration.user.email %> )<%= link_to "Delete", collaboration_path(collaboration), method: :delete, remote: true %>

      </li>
