$('#collaboration-' +<%= @collaboration.id %>).hide();

 // <% if @collaboration.destroyed? %>
 //   $('#collaboration-' +<%= @collaboration.id %>).hide();
 // <% else %>
 //   $('#collaboration-' +<%= @collaboration.id %>).prepend("<div class='alert alert-danger'><%= flash[:error] %></div>");
 // <% end %>